{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% block form_attrs %}enctype="multipart/form-data"{% endblock %}
{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "A template is used to automate the deployment of infrastructure, services, and applications." %}</p>
  <p>{% trans "Use one of the available template source options to specify the template to be used in creating this stack." %}</p>
{% endblock %}
